*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-size: 16px;
  color: var(--black);
}
:root {
  --black: #000;
  --white: #fff;
  --main-bg-color: #e6c744;
}
.container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 16px;
}
.btn {
  font-family: "Poppins";
  display: inline-block;
  border: 1px solid var(--black);
  border-radius: 10px;
  color: var(--white);
  background-color: var(--black);
  padding: 16px 28px;
  cursor: pointer;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: -0.03em;
}
.btn-lg {
  padding: 18px 40px;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: -0.05em;
  margin-left: 50px;
}
.btn:hover {
  transform: scale(1.1);
}
.heading {
  font-family: "Poppins";
  color: var(--black);
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.05em;
  margin: 80px 0;
}
.heading_decoration {
  position: relative;
  display: inline-block;
}
.heading_decoration::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -18px;
  width: 180px;
  height: 28px;
  background-image: url(../images/img1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: -1;
}
.product_1 {
  display: flex;
  justify-content: space-around;
}
.product_1_poster {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}
.product_1_poster_image {
  max-width: 100%;
}
.product_name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: -0.04em;
  margin-top: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 300px;
}
.product_cta {
  font-family: "Poppins";
  color: #7f7f7f;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: -0.04em;
  margin-top: -8px;
  text-decoration: none;
}
.product_cta:hover {
  color: var(--black);
}
.product_description {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.product_wrap {
  display: flex;
  justify-content: space-between;
}
.product_about {
  align-self: center;
  cursor: pointer;
}
.product_about:hover {
  transform: scale(1.1);
}
.product_2 {
  display: flex;
  justify-content: space-around;
}
.product_2_poster {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.product_2_poster_image {
  max-width: 100%;
}
.brand {
  background: var(--main-bg-color);
}
.brand_items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 54px 0;
  margin: 20px 0;
}
.brand_logo {
  max-width: 240px;
  max-height: 72px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header_logo {
  display: flex;
  width: 200px;
  height: 50px;
  margin-right: 10px;
}
.header_nav {
  display: flex;
}
.header_nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav_item {
  display: flex;
  margin: 0 30px;
  padding-right: 10px;
}
.header_nav_link {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: var(--black);
}
.header_nav_link:hover {
  opacity: 0.5;
}
.btn-sm {
  padding: 12px 20px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  text-decoration: none;
  color: var(--white);
}
.banner_1 {
  display: flex;
  background: #f4f6f5;
  border-radius: 60px;
}
.banner_1_slogan {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  margin-left: 20vh;
}
.banner_1_slogan_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 100px;
}
.banner_1_slogan_text_decoration_white {
  position: relative;
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 100px;
  z-index: 1;
}
.banner_1_slogan_text_decoration_white::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10vw;
  width: 100%;
  height: 90px;
  background-image: url(../images/white_background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: -1;
}
.banner_1_slogan_text_decoration_gold {
  position: relative;
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 100px;
  z-index: 1;
}
.banner_1_slogan_text_decoration_gold::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10vw;
  width: 100%;
  height: 90px;
  background-image: url(../images/Rectangle\ 6.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: -1;
}
.banner_1_slogan_text_sm {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.05em;
}
.banner_1_image {
  display: flex;
  align-items: flex-end;
}
.banner_1_image_lady {
  display: flex;
  width: 700px;
  height: 600px;
}
.banner_1_decoration {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.banner_1_decoration_element {
  width: 180px;
  height: 32px;
}
.container_banner_2 {
  position: relative;
  margin: 0 auto;
}
.banner_2_image_block {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.banner_2_image {
  max-width: 100%;
  height: auto;
}
.banner_2_button {
  position: absolute;
  top: 74%;
  left: 56%;
}
.btn-xlg {
  font-size: 20px;
  line-height: 42px;
  letter-spacing: 0.04em;
  padding: 16px 50px;
}
.btn-xlg:hover {
  transform: scale(1.1);
  opacity: inherit;
}
.voucher {
  display: flex;
  margin: 50px 0;
  align-items: center;
  justify-content: space-around;
}
.voucher_sourse {
  display: flex;
  flex-direction: column;
  margin-top: 10mm;
  margin-left: 30mm;
}
.voucher_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: var(--black);
}
.voucher_text_sm {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: -0.04em;
  color: #7c7c7c;
}
.voucher_text_sm_block {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}
.voucher_sourse_link {
  display: flex;
}
.comunication_block {
  background: var(--main-bg-color);
}
.comunication_block_content {
  padding: 80px 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white);
}
.content_text_sm {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-top: 28px;
}
.email_enter {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  width: 400px;
  line-height: 35px;
  letter-spacing: 0.03em;
  background: var(--white);
  border: none;
  outline: none;
}
.email_enter_bg {
  margin: 20px 0;
  background-color: var(--white);
  padding: 10px;
  border-radius: 10px;
}
.footer {
  background: var(--black);
}
.footer_container {
  max-width: 1720px;
  margin: 0 auto;
}
.footer_content {
  display: flex;
  justify-content: space-around;
  padding: 90px 0;
}
.footer_social {
  display: flex;
  flex-direction: column;
}
.footer_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: var(--white);
}
.footer_text_sm {
  margin: 5px 0;
}
.footer_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #8e8e8e;
}
.social_networks {
  display: flex;
  margin-top: 22px;
}
.social_network_logo {
  margin-right: 15px;
}
.footer_nav_block {
  display: contents;
}
.footer_nav_list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 52px;
  letter-spacing: 0.02em;
  color: #8e8e8e;
}
.footer_nav_link {
  text-decoration: none;
  color: #8e8e8e;
}
.footer_nav_link:hover {
  transform: scale(1.1);
  color: var(--white);
}

/* .radio {
  display: none;
}
.radio:checked + .fake_radio::before {
  opacity: 1;
}
.fake_radio {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: var(--black);
  border-radius: 50%;
}
.fake_radio::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 20px;
  height: 20px;
  background-color: var(--main-bg-color);
  border-radius: 50%;
}
.radio_block {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.05em;
  margin-right: 14px;
}
.checkbox {
  display: none;
}
.checkbox_block {
  display: inline-block;
  margin-right: 20px;
}
.checkbox:checked + .fake_checkbox::before {
  opacity: 1;
}
.fake_checkbox {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: var(--black);
  border-radius: 50%;
}
.fake_checkbox::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid var(--white);
} */
@media (max-width: 1400px) {
  .banner_1_slogan_text_decoration_white::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20vw;
    width: 100%;
    height: 90px;
    background-image: url(../images/white_background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: -1;
  }
  .banner_1_slogan_text_decoration_gold::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20vw;
    width: 100%;
    height: 90px;
    background-image: url(../images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: -1;
  }
  .header_nav_link {
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: var(--black);
  }
  .banner_1_image_lady {
    display: none;
  }
}
@media (max-width: 991px) {
  .banner_1_slogan_text_decoration_white::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10vw;
    width: 100%;
    height: 90px;
    background-image: url(../images/white_background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: -1;
  }
  .banner_1_slogan_text_decoration_gold::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10vw;
    width: 100%;
    height: 90px;
    background-image: url(../images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: -1;
  }
  .header_nav_list {
    display: none;
  }
  .brand_items {
    flex-wrap: wrap;
  }
  .product_1 {
    flex-wrap: wrap;
  }
  .product_name {
    font-size: 20px;
    margin-top: 8px;
  }
  .product_2 {
    display: flex;
    flex-wrap: wrap;
  }
  .heading {
    display: flex;
    justify-content: center;
  }
  .banner_2_button {
    position: absolute;
    top: 72%;
    left: 54%;
  }
  .btn-xlg {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    padding: 4px 4px;
  }
  .mobile_app {
    display: none;
  }
  .voucher_sourse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    margin-left: 0;
  }
}
@media (max-width: 827px) {
  .banner_1_slogan {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    margin-left: 10vh;
  }
  .banner_1_slogan_text_decoration_white {
    font-size: 50px;
  }
  .banner_1_slogan_text {
    font-size: 50px;
  }
  .banner_1_slogan_text_decoration_gold {
    font-size: 50px;
  }
  .btn-lg {
    padding: 12px 30px;
    font-size: 26px;
    margin-left: 4px;
  }
  .heading {
    font-family: "Poppins";
    color: var(--black);
    font-weight: 900;
    font-size: 34px;
    line-height: 50px;
    letter-spacing: 0.05em;
    margin: 60px 0;
  }
  .heading_decoration::after {
    display: none;
  }
  .product_1_poster {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    max-width: 100%;
  }
  .voucher_text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 150%;
    letter-spacing: 0.06em;
    color: var(--black);
  }
  .voucher_text_sm {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.04em;
    color: #7c7c7c;
  }
  .voucher_sourse_link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .voucher_sourse_link_image {
    margin-bottom: 10px;
  }
  .content_text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white);
  }
  .content_text_sm {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.03em;
    color: var(--white);
    margin-top: 20px;
  }
  .email_enter_bg {
    display: flex;
    align-items: baseline;
    margin: 20px 0;
    background-color: var(--white);
    padding: 10px 0;
    border-radius: 10px;
  }
  .email_enter_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .email_enter {
    display: inline-block;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.03em;
    width: 100%;
    background: var(--white);
    border: none;
    outline: none;
  }
}
@media (max-width: 767px) {
  .action_block {
    display: flex;
    flex-direction: column-reverse;
  }
  .checkbox_radio_block {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer_text {
    font-size: 18px;
  }
  .footer_nav_list {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .banner_1_decoration_element {
    display: none;
  }
  .product_2_poster {
    width: 100%;
  }
  .email_enter_bg {
    display: flex;
    align-items: baseline;
  }
  .footer_content {
    display: flex;
    justify-content: space-around;
    padding: 90px 0;
    flex-direction: column;
  }
  .footer_social {
    align-items: center;
  }
  .footer_nav_block {
    display: flex;
    justify-content: space-around;
  }
}
